body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #434455;
  background-color: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*----------------HEADER----------------*/
.visually-hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --elements-color: #2e2f42;
}

.header {
}

.header-navigation {
}

.header-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  color: #2e2f42;
}

.header-navigation-list {
}
.header-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--elements-color);
}
.header-list-item:hover,
.header-list-item:focus {
  text-decoration: underline;
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-address-list {
}
.header-address-item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-address-item:hover,
.header-address-item:focus {
  text-decoration: underline;
  color: #404bbf;
}
/*-------------------------MAIN-----------------------*/
/*----------------HERO----------------*/

.hero {
  background-color: var(--elements-color);
}

.hero-title {
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
  background: #404bbf;
}

.hero-button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
/*----------------Why-are-we-section----------------*/
.why-are-we {
}

.why-are-we-list {
}

.why-are-we-list-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--elements-color);
}

.why-are-we-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*----------------PROJECTS----------------*/
.projects {
}

.projects-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--elements-color);
}

.projects-list {
}
/*----------------TEAM----------------*/
.team {
  background-color: #f4f4fd;
}
.team-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--elements-color);
}
.team-list {
}

.team-list-item {
  background-color: #ffffff;
}

.team-list-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--elements-color);
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*----------------PORTFOLIO----------------*/

.filters-button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
}
.filters-button:hover,
.filters-button:focus {
  background-color: #404bbf;
  color: #ffffff;
  cursor: pointer;
}

.project-card-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--elements-color);
}

.project-card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*----------------------------------FOOTER----------------*/

.footer {
  background-color: var(--elements-color);
}

.footer-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
